*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.leaderboard{
    background-color: rgba(101, 108, 236, 1);
    height: 100px;
    text-align: center;
    margin-top: -40px;

}
.leaderboard h1{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 64px;
}
.top3{
    background-color: rgba(101, 108, 236, 1);
    height: 408px;
    margin-top: -10px;
    border-radius: 0px 0px 64px 64px;
}
.leaderlist{
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 50px;
}
.leaderlist li{
    margin-top: 50px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.leaderlist h5{
    background-color: rgba(186, 190, 255, 1);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    position: relative;
    left: 60px;
    top: 15px;
    line-height: 35px;
}
.top1 h5{
    position: relative;
    left: 96px;
    top: 15px;
}
.top2 img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}
.top1 img{
    height: 214.86px;
    border-radius: 50%;
}
.top2{
    position: relative;
    top: 20px;
}
.top1{
    position: relative;
    bottom: 40px;
}

.name1{
    background-color: rgba(186, 190, 255, 1);
    border-radius: 16px;
    height: 32px;
    width: 156px;   
    line-height: 28px;
    font-weight: 400;
}
.top1 .name1{
    height: 42.97px;
    width: 228.29px;
    border-radius: 36px;
    line-height: 38px;
}
h4{
    font-weight: 400;
}





.rest{
    background-color: rgba(210, 212, 242, 1);
    height: 100px;
    
    
}
.rest ul{
    display: grid;
    grid-template-columns: 10% 10% 20% 60%;
    
    

}
.bottom{
    list-style: none;
    position: relative;
    bottom: 17px;
    font-size: 32px;
    
    
}
.smallphoto{
    width: 80px;
    height: 80px;
    position: relative;
    top: 22px;
    border-radius: 50%;
}
.rest li, .rest1 li{
    text-align: right;
    position: relative;
    right: 100px;
} 
.rest .name, .rest1 .name{
    text-align: left;
    position: relative;
    left: 70px;
}







.rest1{
    background-color: rgba(210, 212, 242, 1);
    height: 100px;
    margin-top: -20px;
}
.rest1 ul{
    display: grid;
    grid-template-columns: 10% 10% 20% 60%;
    

}



    
    
   
    
.hover {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
}

.sphoto{
    border-style: solid;
    border-color: white;
    border-width: 5px;
}
    



